<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Sourcing Event</title>
<link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="wrap">
		<div class="container">
			<div class="row">
					<div id="content" class="w-100">
					  <div class="w-100">
						<div class="float-left"><h1>Sourcing Event</h1></div>
						<div class="float-right"><img 
							src="https://ssl.doas.state.ga.us/gpr/images/georgia_logo.png"
							alt="Georgia Department of Administrative Services"></div>
					  </div>
					  <div class="w-100 float-left">		
 						<div class="w-100 float-left m-2">
 						<label class="text-primary">event_number : </label><span th:utext="${sourcingEvent.eventNumber}"></span><br/>
 						<label class="text-primary">event_type : </label><span th:utext="${sourcingEvent.eventType}"></span><br/>
 						<label class="text-primary">event_title : </label><span th:utext="${sourcingEvent.eventTitle}"></span><br/>
 						<label class="text-primary">event_status : </label><span th:utext="${sourcingEvent.eventStatus}"></span><br/>
 						<label class="text-primary">work_group_code : </label><span th:utext="${sourcingEvent.workGroupCode}"></span><br/>
 						<label class="text-primary">description : </label><span th:utext="${sourcingEvent.description}"></span><br/>
 						
 						<hr>
						<label class="text-primary">eventDate.time_zone : </label><span th:utext="${sourcingEvent.releaseDate}"></span><br/>
						<label class="text-primary">eventDate.open_date : </label><span th:utext="${sourcingEvent.openDate}"></span><br/>
						<label class="text-primary">eventDate.close_date : </label><span th:utext="${sourcingEvent.closeDate}"></span><br/>

						<hr>
						<label class="text-primary">paymentDetail.estimated_value : </label><span th:utext="${sourcingEvent.estimatedValue}"></span><br/>
						

						<hr>
						<span th:if="${sourcingEvent.commodityCodes}">						
							<tr th:each="commodityCode : ${sourcingEvent.commodityCodes}">
								<label class="text-primary">commodityCode : </label><span th:utext="${commodityCode.commodityCode}"></span><br/>
							</tr>	
												
						</span>
											
					
						</div>

					  </div>

					  </div>

				</div>
			</div>
		</div>
	</div>

	<footer id="footer">
		<div class="text-center text-muted"></div>
	</footer>




</body>
</html>